@charset "UTF-8";
:root {
    color-scheme: light;
    --background-color: #fff;
    --color: #373c44;
    --text-selection-color: rgba(129, 145, 181, 0.25);
    --muted-color: #646b79;
    --muted-border-color: rgb(231, 234, 239.5);
    --primary: #5d6b89;
    --primary-background: #525f7a;
    --primary-border: var(--primary-background);
    --primary-underline: rgba(93, 107, 137, 0.5);
    --primary-hover: #48536b;
    --primary-hover-background: #48536b;
    --primary-hover-border: var(--primary-hover-background);
    --primary-hover-underline: var(--primary-hover);
    --primary-focus: rgba(129, 145, 181, 0.5);
    --primary-inverse: #fff;
    --secondary: #5d6b89;
    --secondary-background: #525f7a;
    --secondary-border: var(--secondary-background);
    --secondary-underline: rgba(93, 107, 137, 0.5);
    --secondary-hover: #48536b;
    --secondary-hover-background: #48536b;
    --secondary-hover-border: var(--secondary-hover-background);
    --secondary-hover-underline: var(--secondary-hover);
    --secondary-focus: rgba(93, 107, 137, 0.25);
    --secondary-inverse: #fff;
    --contrast: #181c25;
    --contrast-background: #181c25;
    --contrast-border: var(--contrast-background);
    --contrast-underline: rgba(24, 28, 37, 0.5);
    --contrast-hover: #000;
    --contrast-hover-background: #000;
    --contrast-hover-border: var(--contrast-hover-background);
    --contrast-hover-underline: var(--secondary-hover);
    --contrast-focus: rgba(93, 107, 137, 0.25);
    --contrast-inverse: #fff;
    --box-shadow: 0.0145rem 0.029rem 0.174rem rgba(129, 145, 181, 0.01698), 0.0335rem 0.067rem 0.402rem rgba(129, 145, 181, 0.024), 0.0625rem 0.125rem 0.75rem rgba(129, 145, 181, 0.03), 0.1125rem 0.225rem 1.35rem rgba(129, 145, 181, 0.036), 0.2085rem 0.417rem 2.502rem rgba(129, 145, 181, 0.04302), 0.5rem 1rem 6rem rgba(129, 145, 181, 0.06), 0 0 0 0.0625rem rgba(129, 145, 181, 0.015);
    --h1-color: #2d3138;
    --h2-color: #373c44;
    --h3-color: #424751;
    --h4-color: #4d535e;
    --h5-color: #5c6370;
    --h6-color: #646b79;
    --mark-background-color: rgb(252.5, 230.5, 191.5);
    --mark-color: #0f1114;
    --ins-color: rgb(28.5, 105.5, 84);
    --del-color: rgb(136, 56.5, 53);
    --blockquote-border-color: var(--muted-border-color);
    --blockquote-footer-color: var(--muted-color);
    --button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --table-border-color: var(--muted-border-color);
    --table-row-stripped-background-color: rgba(111, 120, 135, 0.0375);
    --code-background-color: rgb(243, 244.5, 246.75);
    --code-color: #646b79;
    --code-kbd-background-color: var(--color);
    --code-kbd-color: var(--background-color);
    --form-element-background-color: rgb(251, 251.5, 252.25);
    --form-element-selected-background-color: #dfe3eb;
    --form-element-border-color: #cfd5e2;
    --form-element-color: #23262c;
    --form-element-placeholder-color: var(--muted-color);
    --form-element-active-background-color: #fff;
    --form-element-active-border-color: var(--primary-border);
    --form-element-focus-color: var(--primary-border);
    --form-element-disabled-opacity: 0.5;
    --form-element-invalid-border-color: rgb(183.5, 105.5, 106.5);
    --form-element-invalid-active-border-color: rgb(200.25, 79.25, 72.25);
    --form-element-invalid-focus-color: var(--form-element-invalid-active-border-color);
    --form-element-valid-border-color: rgb(76, 154.5, 137.5);
    --form-element-valid-active-border-color: rgb(39, 152.75, 118.75);
    --form-element-valid-focus-color: var(--form-element-valid-active-border-color);
    --switch-background-color: #bfc7d9;
    --switch-checked-background-color: var(--primary-background);
    --switch-color: #fff;
    --switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --range-border-color: #dfe3eb;
    --range-active-border-color: #bfc7d9;
    --range-thumb-border-color: var(--background-color);
    --range-thumb-color: var(--secondary-background);
    --range-thumb-active-color: var(--primary-background);
    --accordion-border-color: var(--muted-border-color);
    --accordion-active-summary-color: var(--primary-hover);
    --accordion-close-summary-color: var(--color);
    --accordion-open-summary-color: var(--muted-color);
    --card-background-color: var(--background-color);
    --card-border-color: var(--muted-border-color);
    --card-box-shadow: var(--box-shadow);
    --card-sectioning-background-color: rgb(251, 251.5, 252.25);
    --loading-spinner-opacity: 0.5;
    --modal-overlay-background-color: rgba(232, 234, 237, 0.75);
    --progress-background-color: #dfe3eb;
    --progress-color: var(--primary-background);
    --tooltip-background-color: var(--contrast-background);
    --tooltip-color: var(--contrast-inverse);
    --icon-valid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(76, 154.5, 137.5)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
    --icon-invalid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(200.25, 79.25, 72.25)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");

    input:is([type=submit],
        [type=button],
        [type=reset],
        [type=checkbox],
        [type=radio],
        [type=file]) {
        --form-element-focus-color: var(--primary-focus);
    }
}

:root:has(meta[name="color-scheme"][content="dark"]) {
    color-scheme: dark;
    --background-color: rgb(19, 22.5, 30.5);
    --color: #c2c7d0;
    --text-selection-color: rgba(144, 158, 190, 0.1875);
    --muted-color: #7b8495;
    --muted-border-color: #202632;
    --primary: #909ebe;
    --primary-background: #525f7a;
    --primary-border: var(--primary-background);
    --primary-underline: rgba(144, 158, 190, 0.5);
    --primary-hover: #b0b9d0;
    --primary-hover-background: #5d6b89;
    --primary-hover-border: var(--primary-hover-background);
    --primary-hover-underline: var(--primary-hover);
    --primary-focus: rgba(144, 158, 190, 0.375);
    --primary-inverse: #fff;
    --secondary: #969eaf;
    --secondary-background: #525f7a;
    --secondary-border: var(--secondary-background);
    --secondary-underline: rgba(150, 158, 175, 0.5);
    --secondary-hover: #b3b9c5;
    --secondary-hover-background: #5d6b89;
    --secondary-hover-border: var(--secondary-hover-background);
    --secondary-hover-underline: var(--secondary-hover);
    --secondary-focus: rgba(144, 158, 190, 0.25);
    --secondary-inverse: #fff;
    --contrast: #dfe3eb;
    --contrast-background: #eff1f4;
    --contrast-border: var(--contrast-background);
    --contrast-underline: rgba(223, 227, 235, 0.5);
    --contrast-hover: #fff;
    --contrast-hover-background: #fff;
    --contrast-hover-border: var(--contrast-hover-background);
    --contrast-hover-underline: var(--contrast-hover);
    --contrast-focus: rgba(207, 213, 226, 0.25);
    --contrast-inverse: #000;
    --box-shadow: 0.0145rem 0.029rem 0.174rem rgba(7, 8.5, 12, 0.01698), 0.0335rem 0.067rem 0.402rem rgba(7, 8.5, 12, 0.024), 0.0625rem 0.125rem 0.75rem rgba(7, 8.5, 12, 0.03), 0.1125rem 0.225rem 1.35rem rgba(7, 8.5, 12, 0.036), 0.2085rem 0.417rem 2.502rem rgba(7, 8.5, 12, 0.04302), 0.5rem 1rem 6rem rgba(7, 8.5, 12, 0.06), 0 0 0 0.0625rem rgba(7, 8.5, 12, 0.015);
    --h1-color: #f0f1f3;
    --h2-color: #e0e3e7;
    --h3-color: #c2c7d0;
    --h4-color: #b3b9c5;
    --h5-color: #a4acba;
    --h6-color: #8891a4;
    --mark-background-color: #014063;
    --mark-color: #fff;
    --ins-color: #62af9a;
    --del-color: rgb(205.5, 126, 123);
    --blockquote-border-color: var(--muted-border-color);
    --blockquote-footer-color: var(--muted-color);
    --button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --table-border-color: var(--muted-border-color);
    --table-row-stripped-background-color: rgba(111, 120, 135, 0.0375);
    --code-background-color: rgb(26, 30.5, 40.25);
    --code-color: #8891a4;
    --code-kbd-background-color: var(--color);
    --code-kbd-color: var(--background-color);
    --form-element-background-color: rgb(28, 33, 43.5);
    --form-element-selected-background-color: #2a3140;
    --form-element-border-color: #2a3140;
    --form-element-color: #e0e3e7;
    --form-element-placeholder-color: #8891a4;
    --form-element-active-background-color: rgb(26, 30.5, 40.25);
    --form-element-active-border-color: var(--primary-border);
    --form-element-focus-color: var(--primary-border);
    --form-element-disabled-opacity: 0.5;
    --form-element-invalid-border-color: rgb(149.5, 74, 80);
    --form-element-invalid-active-border-color: rgb(183.25, 63.5, 59);
    --form-element-invalid-focus-color: var(--form-element-invalid-active-border-color);
    --form-element-valid-border-color: #2a7b6f;
    --form-element-valid-active-border-color: rgb(22, 137, 105.5);
    --form-element-valid-focus-color: var(--form-element-valid-active-border-color);
    --switch-background-color: #333c4e;
    --switch-checked-background-color: var(--primary-background);
    --switch-color: #fff;
    --switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --range-border-color: #202632;
    --range-active-border-color: #2a3140;
    --range-thumb-border-color: var(--background-color);
    --range-thumb-color: var(--secondary-background);
    --range-thumb-active-color: var(--primary-background);
    --accordion-border-color: var(--muted-border-color);
    --accordion-active-summary-color: var(--primary-hover);
    --accordion-close-summary-color: var(--color);
    --accordion-open-summary-color: var(--muted-color);
    --card-background-color: #181c25;
    --card-border-color: var(--card-background-color);
    --card-box-shadow: var(--box-shadow);
    --card-sectioning-background-color: rgb(26, 30.5, 40.25);
    --loading-spinner-opacity: 0.5;
    --modal-overlay-background-color: rgba(7.5, 8.5, 10, 0.75);
    --progress-background-color: #202632;
    --progress-color: var(--primary-background);
    --tooltip-background-color: var(--contrast-background);
    --tooltip-color: var(--contrast-inverse);
    --icon-valid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(42, 123, 111)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
    --icon-invalid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(149.5, 74, 80)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");

    input:is([type=submit],
        [type=button],
        [type=reset],
        [type=checkbox],
        [type=radio],
        [type=file]) {
        --form-element-focus-color: var(--primary-focus);
    }
}
